.cm-header-1, .markdown-preview-view h1{
  color:#1A1A40;
}

.cm-header-2, .markdown-preview-view h2{
  color: #270082;
}.cm-header-3, .markdown-preview-view h3{
  color:#7A0BC0;
}.cm-header-4, .markdown-preview-view h4{
  color:#FA58B6;
}.cm-header-5, .markdown-preview-view h5{
  color:#1A1A40;
}.cm-header-6, .markdown-preview-view h6{
  color:#1A1A40;
}
