// Add your own CSS here!

:root {
  --light: #f6fcf8; // background of light theme
  --dark: #094648; // main color of light theme
  --secondary: #0F6B5F; //links
  --tertiary: #FF8847; //hover
  --visited: #6CB671;
  --primary: #37906D;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  // custom color for dark mode
  svg {
    color: #0F6B5F;
  }
}

[saved-theme="dark"] {
  --light: #094648 !important; // background of dark theme
  --dark: #dcfae6 !important; // main color of dark theme (color of titles)
  --secondary: #D1F2C4 !important; // links
  --tertiary: #FF8847 !important; //hover
  --visited: #E9D574 !important;
  --primary: #D7E69C !important;
  --gray: #d4d4d4 !important;
  --lightgray: #052D2D !important;
  --outlinegray: #418C76 !important; //links on graphs and outline of blocks
  // custom color for dark mode
  svg {
    color: #D1F2C4;
  }
}
