<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="singlePage">
    <!-- Begin actual content -->
    {{partial "header.html" .}}
    <article>
        {{partial "toc.html" .}}
        {{partial "textprocessing.html" . }}
        {{if $.Site.Data.config.enableRecentNotes}}
          {{partial "recent.html" . }}
        {{end}}
    </article>
    <div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="3c35da46-1d7c-4a3f-b6ac-0ffbd687d557"
  data-page-id="{{ .Title }}"
  data-page-url="{{ .LinkTitle | title }}"
  data-page-title="{{ .Title }}"
></div>
<script defer src="https://cusdis.com/js/widget/lang/fr.js"></script>
<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
    {{partial "footerIndex.html" .}}
</div>
</body>
</html>
